$accent-color: #ffb510;
.container {
  width: 60vw;
  max-height: 30vh;
  .open-btn {
    cursor: pointer;
    display: block;
    padding: 0 1.5em;
    height: 2.5em;
    line-height: 3.2em;
    margin: 0 auto 2.5% auto;
    min-width: 100%;
    background-color: #fff;
    border: 3px solid #ffb510;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    backface-visibility: hidden;
    transition: 0.3s ease-in-out;
    box-shadow: none;
    color: #e91e63 !important;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #fff;
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
      text-shadow: none;
      color: $accent-color;
    }

    &.return {
      line-height: 3em;
      color: $accent-color;
      border-color: $accent-color;
      text-shadow: none;
      &:hover {
        background-color: $accent-color;
        color: #fff;
        box-shadow: none;
      }
    }
  }
}

.MuiPaper-root {
  min-width: 45vw;
  min-height: 30vh;

  .contact {
    display: flex;
    flex-direction: column;
  }

  .MuiFormControl-root {
    margin-bottom: 1em;
    width: 100%;
  }
}

.MuiInputLabel-root {
  font-size: small !important;
}
