$accent-color: #ffb510;
.container {
  width: 60vw;
  max-height: 30vh;
  .open-btn {
    cursor: pointer;
    display: block;
    padding: 0 1.5em;
    height: 2.5em;
    line-height: 3.2em;
    margin: 0 auto 2.5% auto;
    min-width: 100%;
    background-color: #fff;
    border: 3px solid #ffb510;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    backface-visibility: hidden;
    transition: 0.3s ease-in-out;
    box-shadow: none;
    color: #e91e63 !important;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #fff;
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
      text-shadow: none;
      color: $accent-color;
    }

    &.return {
      line-height: 3em;
      color: $accent-color;
      border-color: $accent-color;
      text-shadow: none;
      &:hover {
        background-color: $accent-color;
        color: #fff;
        box-shadow: none;
      }
    }
  }

  #form-app {
    min-width: 100%;
    padding: 1rem 2rem 5rem;
    background-color: #fbfbfb;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    margin: 10% auto;
    color: #384d4a;
    font-family: "Nunito", sans-serif;
    font-size: 0.8rem;
  }

  h1 {
    margin-bottom: 3rem;
  }

  .form-container {
    margin: 0 2rem;
    text-align: left;
    min-height: 100%;
  }

  .user-info {
    display: inline-block;
    margin-top: 0.8rem;
    margin-left: 0.6rem;
    font-size: 0.8rem;
  }

  .user-info:first-of-type {
    margin-top: 0;
    margin-right: 2px;
  }

  .form-input {
    display: flex;
    padding: 0.4rem 0.6rem;
    margin: 0.8rem 0;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    text-align: left;
    background-color: #fff;
  }

  .form-input span {
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 1.1rem;
  }

  input,
  textarea {
    margin: 0;
    padding: 0;
    padding-left: 0.6rem;
    border: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 0.8rem;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  input:focus,
  textarea:focus {
    outline: none;
  }

  input::placeholder,
  textarea::placeholder {
    color: #bbb;
    font-size: 0.8rem;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    flex-grow: 2;
  }

  input[type="submit"],
  input[type="button"] {
    float: right;
    padding: 0.4rem 0.6rem;
    border: none;
    border-radius: 5px;
    background: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  input[type="button"] {
    margin-right: 0.5rem;
  }

  .error-message {
    float: left;
    color: red;
    font-size: 0.6rem;
  }

  input[type="submit"]:disabled {
    opacity: 0.3;
  }
}
