$accent-color: #ffb510;

.contact-container {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2.5% auto 1% auto;

  P {
    min-height: 100%;
  }
}

.how-to-close {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.esc-key {
  border: 1px solid #ccc;
  background: #ccc;
  color: white;
  border-radius: 2px;
  padding: 5px;
  display: block;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

#toast {
  visibility: hidden;
  min-width: 250px;
  margin: 0 auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #e91e63;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #ffb510;
  padding: 16px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  font-size: 2rem;
  font-weight: 700;
  align-self: center;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
.checkicon i {
  font-size: 40px;
  color: #47d764;
}
