@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap");

.container-container {
  display: flex;
  flex-direction: row;

  .container-left {
    width: 50%;
    height: 100vh;
    background: #202020;
    z-index: 1;
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 0;
    padding-right: 20%;

    .box {
      width: 250px;
      height: 250px;
      position: relative;
      margin: 50% 20%;
      display: flex;
      justify-content: left;
      flex-direction: column;
      margin-right: 20%;

      .title {
        width: 170%;
        position: relative;
        display: flex;
        align-items: center;
        height: 90%;

        .block {
          width: 0%;
          height: inherit;
          background: #ffb510;
          position: absolute;
          animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
          display: flex;
        }

        h1 {
          font-family: "Poppins";
          color: #fff;
          font-size: 8rem;
          -webkit-animation: mainFadeIn 2s forwards;
          -o-animation: mainFadeIn 2s forwards;
          animation: mainFadeIn 2s forwards;
          animation-delay: 1.6s;
          opacity: 0;
          display: flex;
          align-items: baseline;
          position: relative;

          span {
            width: 0px;
            height: 0px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;

            background: #ffb510;
            -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92)
              forwards;
            animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
            animation-delay: 2s;
            position: absolute;
            right: -12px;
          }
        }
      }

      .role {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        height: 70%;
        margin-top: 10%;
        > * {
          color: #e91e63;
        }

        .block {
          width: 0%;
          height: 100%;
          background: #e91e63 !important;
          position: absolute;
          animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
          animation-delay: 2s;
          display: flex;
        }

        .subtitle {
          animation: secFadeIn 2s forwards;
          animation-delay: 3.2s;
          opacity: 0;
          font-weight: 800;
          font-size: 3rem;
          text-transform: uppercase;
          letter-spacing: 5px;
          z-index: 3;
          color: #e91e63 !important;
        }

        .subtitle {
          color: #e91e63 !important;
        }
      }
    }
  }

  .logo {
    width: 15vh;
    height: 15vh;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    align-items: center;

    .logoCircle {
      background: #202020;
      border-radius: 50%;
      outline: 5px solid #ffb510;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .container-right {
    display: flex;
    width: 50%;
    height: 100vh;
    justify-content: right;
    align-items: right;
    background: #202020;
    z-index: 2;

    .background-image {
      background-image: url("../images/alabamatheater.jpg");
      background-attachment: fixed;
      background-size: 50% 100%;
      background-repeat: no-repeat;
      background-position: right;
      width: 100%;
      height: 100%;
      // filter: blur(2px);

      .background-cover {
        width: 100%;
        height: 100%;
        opacity: 0.8;
        background-color: #ddd;
        justify-content: center;

        .intro {
          width: 55vh;
          height: 30vh;
          z-index: 4;
          top: 35%;
          background: transparent;
          right: 8%;
          opacity: 1;
          position: absolute;

          p {
            text-align: left;
            font-family: "arial";
            color: #202020;
            font-size: 3rem;
            font-weight: 600;
            letter-spacing: 5;
            line-height: 5rem;
            animation: fadeIn 5s;
            -webkit-animation: fadeIn 5s;
            -moz-animation: fadeIn 5s;
            -o-animation: fadeIn 5s;
            -ms-animation: fadeIn 5s;
          }
        }
      }
    }
  }
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 13px;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

footer {
  width: 350px;
  height: 80px;
  background: #ffb510;
  position: absolute;
  right: 0;
  bottom: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: top 0.8s forwards;
  animation-delay: 4s;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-family: "Poppins";

    i {
      margin-right: 25px;
      font-size: 22px;
      animation: icon 2s forwards;
      animation-delay: 4s;
      opacity: 0;
    }
  }
}

@keyframes top {
  0% {
    opacity: 0;
    bottom: -80px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes icon {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.3) rotate(-02deg);
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
