$accent-color: #ffb510;

.myWork {
  margin: 2.5% auto;
  margin-top: 7.5%;
  font-weight: 800;
  font-size: clamp(1.62rem, 2rem + 1.22vw, 5rem);
  text-transform: uppercase;
  letter-spacing: 5px;
  z-index: 3;
  color: #e91e53 !important;

  .angle {
    color: #ffb510;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin-bottom: 2.5%;
  @media screen and (max-width: 1300px) {
    flex-direction: column;
    flex-wrap: nowrap;
    height: 200vh;
  }
}

.card {
  width: 48vw;
  height: 50vh;
  margin: 1em;
  perspective: 1500px;
  @media screen and (max-width: 1300px) {
    padding-left: 7.5%;
    width: 90vw;
    height: 90vh;
  }
  .content {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
  }
}

#card1Front {
  background-image: url(../images/todo.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#card2Front {
  background-image: url(../images/Fake-Reddit.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#card3Front {
  background-image: url(../images/LinkedInClone.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#card4Front {
  background-image: url(../images/Hubbel.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.more {
  display: none;

  &:checked ~ .content {
    transform: rotateY(180deg);
  }
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 6px;
  border: 2px solid #ffb510;

  .inner {
    height: 100%;
    display: grid;
    transform: translateZ(80px) scale(0.94);
  }
}

.front {
  background-color: #fff;
  background-size: cover;
  background-position: center center;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 6px;
    backface-visibility: hidden;
    background: linear-gradient(
      40deg,
      rgba(67, 138, 243, 0.7),
      rgba(255, 242, 166, 0.7)
    );
  }
  .inner {
    grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
    justify-items: center;
  }

  h2 {
    grid-row: 2;
    margin-bottom: 0.3em;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #202020;
    font-weight: bolder;
    font-size: 3rem;
    text-shadow: #ffb510 0px 0px 5px;
  }
}

.back {
  transform: rotateY(180deg);
  background-color: #101010;

  .inner {
    grid-template-rows: 1fr 2fr 1fr 2fr 14fr 1fr 1fr;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 0.8em;
    justify-items: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .about {
    display: flex;
    height: 80%;
    max-width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    padding-left: 2.5%;
    font-size: clamp(1rem, 0.88rem + 1.22vw, 2rem);
    line-height: clamp(1rem, 0.88rem + 1.22vw, 2.8rem);
    letter-spacing: 1px;
    font-family: "arial";
    margin-top: 1em;

    h3 {
      color: #e91e53;
    }

    ul {
      padding-left: 2.5%;
      list-style: none;
      color: #fff;
    }

    p {
      padding-left: 2.5%;
      color: #fff !important;
    }
  }

  .buttonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #e91e53 !important;
    margin-top: 4%;

    a {
      text-decoration: none;
    }

    .button {
      margin-bottom: 0em;
    }
  }
}

.btnText {
  font-size: 1.2rem;
  margin: 0 auto;
  color: #e91e53;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button {
  grid-row: -1;
  cursor: pointer;
  display: block;
  padding: 0 1.5em;
  height: 3em;
  line-height: 3.2em;
  margin-bottom: 0.5em;
  min-width: 12.5%;
  background-color: #fff;
  outline: 2px solid #ffb510;
  text-align: center;
  left: 50%;
  backface-visibility: hidden;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: #fff;
    box-shadow: 0 0 20px #f1f1f1;
    text-shadow: none;
    color: $accent-color;
  }

  &.return {
    line-height: 3em;
    color: $accent-color;
    border-color: $accent-color;
    text-shadow: none;
    &:hover {
      background-color: $accent-color;
      color: #fff;
      box-shadow: none;
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: $accent-color;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: $accent-color;
}
