html {
  font-size: 62.5%;
}

body{
  overflow-y: scroll;
  overflow-x: hidden;
}

* {
  color: #c7c7c7;
  background-color: #181818;
  box-sizing: border-box;
}

div, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
header, 
html, 
i, 
img, 
label, 
li, 
nav,
p,
small,
span,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
}